body {
  overflow-y: scroll;
}

.wrap {
  margin: 0 auto;
}

@media all and (max-width: 700px) {
  ul.tabs {
    width: auto;
    height: 100px !important;
    margin: 0 auto;
    list-style: none;
    overflow: hidden;
    padding: 0;
  }
  ul.tabs li a {
    position: relative;
    display: block;
    height: 45px !important;
    padding: 10px 0 0 0;
    font-size: 18px;
    text-align: center; 
    text-decoration: none;
    color: #000000;
    background: #F6F6F6;
   
  }
  .firstBorder {
    border-top-left-radius: 0;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
  .lastBorder {
    border-top-right-radius: 0;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}
ul.tabs {
  width: auto;
  height: 80px;
  margin: 0 auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.allBorder {
  border-radius: 80px;
}
ul.tabs li { 
  width: 100%;
}

ul.tabs li a {
  position: relative;
  display: block;
  height: 30px;
  padding: 10px 0 0 0;
  font-size: 18px;
  text-align: center; 
  text-decoration: none;
  color: #000000;
  background: #F6F6F6;
 
}

.tabs li:first-child a {
  z-index: 3;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
}

.tabs li:nth-child(2) a {
  z-index: 2;
}

.tabs li:last-child a {
  z-index: 1;
 
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}

ul.tabs li a:hover {
  margin: 5px 0 0 0;
  padding: 12px 0 45px 0;
}

ul.tabs li a.active {
  margin: 5px 0 0 0;
  padding: 12px 0 40px 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: white;
  color: black;
  z-index: 4;
  outline: none;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

#content {
  justify-content: center;
  text-align: center;
  background: white;
}

p {
  color: black;
  line-height: 26px;
  font-size: 18px;
  margin: 0;
}

#one {}

#two {}

#three {}
